/* BASE STYLES */

*, 
*:before, 
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body,
  html {
      height: 100%;

  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #597d9c;
  }
  
  body.flex-properties {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }  
  
/*USER SUMMARY STYLES */

.user-summary {
    width: 638px;
    margin: 40px auto;
    background-image: url("../img/space-upper.jpg");
    background-size: cover;
    padding-top: 1px;  /*collapsing margin fix */
    box-shadow: 0px 0px 15px #000000;
}

.user-summary img {
    display: block;
    margin: 40px auto 0;
    width: 33%;
    height: auto;
    border-radius: 50%;
    border: solid 14px #65a8d4;
}

.user-summary .user-name {
    text-align: center;
    color: #ffffff;
    margin: 10px 0 40px;
    
}

.margin-bottom-gone {
    margin-bottom: 0;
}

.stats-list {
    background-color: white;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.stats-list li a {
    display: block;
    text-decoration: none;
    color:#909090;
    font-weight: bold;
    padding: 1em;
}

.stats-list li {
    margin: auto;
    text-align: center;
    border-right: solid thin #D1D1D1;
    border-top: solid thick #ffffff;  /* fix for border shifting content on hover state */
    width: 33.3%;  /* to ensure that all 3 list items are taking up 1/3 of its parent width */ 
}

.stats-list li a h1 {
    margin-top: 0;
}

.stats-list li a p {
    margin: .4em 0;
    
}

.stats-list li:hover {
    color: #65a8d4;
    border-top: solid thick #65a8d4;
}

